@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Outfit:wght@100;400;700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-family: 'Outfit', 'sans-serif';
	height: 100%;
}

body {
	background-color: var(--lightGray);
	display: grid;
	place-self: center;
	font-size: 15px;
	height: 100%;
}

:root {
	--light: hsl(0, 0%, 100%);
	--lightGray: hsl(212, 45%, 89%);
	--grayishBlue: hsl(220, 15%, 55%);
	--darkBlue: hsl(218, 44%, 22%);
}

h2 {
	font-weight: 700;
}

p {
	font-weight: 400;
	margin: 20px 20px;
	color: var(--grayishBlue);
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}

.main {
	background-color: var(--light);
	border-radius: 20px;
	width: 320px;
	padding: 15px;
	text-align: center;
}

.main img {
	width: 100%;
	border-radius: 20px;
	margin-bottom: 20px;
}
